<bl-container>
    <bl-header>
        <bl-row>
            <bl-col :xs="4" :sm="4" style="text-align: left;">
                接口调用
            </bl-col>
            <bl-col :xs="20" :sm="20" style="text-align:right;padding-left: 0px;padding-right: 0px;">
                <bl-button icon="el-icon-edit" @blocks-click="editClick" v-permission:edit>{{$l('edit')}}</bl-button>
                <bl-button icon="el-icon-plus" @blocks-click="reCallClick">重传</bl-button>
            </bl-col>
        </bl-row>
    </bl-header>
    <bl-main>
        <bl-grid ref="AgGrid" grid-style="height:100%;" :grid-options="gridOptions" unique-key="ID" @gridData="gridData"
            @cellEditingStopped="cellEditingStopped" :columns-auto-fit="false"></bl-grid>
    </bl-main>
</bl-container>