<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>比邻WMS管理系统</title>
  <style>
    body {
      margin: 0px;
      padding: 0px;
    }
  </style>
  <!-- <link href="http://localhost:8000/Modules/Blocks.ResourcesModule/dist/framework/blocks.css"> -->
</head>

<body>
  <div id="app"></div>
  <!-- <script src="http://localhost:8000/Modules/Blocks.ResourcesModule/lib/My97DatePicker/My97DatePicker/WdatePicker.js"></script> -->
  <!-- <script src="/Modules/Blocks.ResourcesModule/dist/framework/blocks/bundle.js"></script> -->

  <!-- <script src="http://localhost:8000/Modules/Blocks.ResourcesModule/dist/framework/blocks/bundle.js"></script> -->
  <!-- built files will be auto injected -->
 

</body>

</html>
<script src="/pack/build/node_modules/highcharts/highcharts.js"></script>
<script src="/pack/build/node_modules/qrcode/build/qrcode.min.js"></script>