<bl-container>
    <bl-header>
        <bl-row>
            <bl-col :xs="4" :sm="4" style="text-align: left;">
                业务编码规则
            </bl-col>
            <bl-col :xs="20" :sm="20" style="text-align:right;padding-left: 0px;padding-right: 0px;">
                <bl-button icon="el-icon-plus" @blocks-click="addClick">编码规则选择</bl-button>
            </bl-col>
        </bl-row>
    </bl-header>
    <bl-main>
        <bl-grid ref="IndexGrid" grid-style="height:calc(100vh - 212px); width:100%" :gridOptions="gridOptions"
            unique-key="ID" @gridData="gridData"></bl-grid>
    </bl-main>
</bl-container>