<bl-container type="dialog">
    <bl-main type="dialog">
        <bl-form :model="ruleForm" :rules="rules" ref="ruleForm">
            <bl-row>
                <bl-col :sm="12">
                    <bl-form-item label="原始密码" prop="OldPassword">
                        <bl-input v-model="ruleForm.OldPassword"></bl-input>
                    </bl-form-item>
                </bl-col>
                <bl-col :sm="12">
                    <bl-form-item label="新密码" prop="NewPassword">
                        <bl-input v-model="ruleForm.NewPassword"></bl-input>
                    </bl-form-item>
                </bl-col>
                <bl-col :sm="12">
                    <bl-form-item label="确认密码" prop="ConfirmPassword">
                        <bl-input v-model="ruleForm.ConfirmPassword"></bl-input>
                    </bl-form-item>
                </bl-col>
            </bl-row>
        </bl-form>
    </bl-main>
    <bl-footer type="dialog">
        <bl-button @blocks-click="closeDialog">{{$l("close")}}</bl-button>
        <bl-button @blocks-click="submitForm" type="primary" loading>{{$l("save")}}</bl-button>
    </bl-footer>
</bl-container>