<bl-container type="dialog">
    <bl-main type="dialog">
        <bl-form :model="ruleForm" :rules="rules" ref="ruleForm">
            <bl-row>
                <bl-col :sm="24">
                    <bl-form-item label="名称" prop="Name">
                        <bl-input v-model="ruleForm.Name" maxlength="20"></bl-input>
                    </bl-form-item>
                </bl-col>
                <bl-col :sm="24">
                    <bl-form-item label="备注">
                        <bl-input v-model="ruleForm.Remark" type="textarea" maxlength="50"></bl-input>
                    </bl-form-item>
                </bl-col>
            </bl-row>
        </bl-form>
    </bl-main>
    <bl-footer type="dialog">
        <bl-button @blocks-click="closeDialog">{{$l("close")}}</bl-button>
        <bl-button @blocks-click="submitForm" type="primary" loading>{{$l("save")}}</bl-button>
    </bl-footer>
</bl-container>