<bl-container type="dialog">
    <bl-main type="dialog" style="height: 100% !important;">
        <div style="margin-bottom: 5px;">
            <bl-button icon="el-icon-close" @blocks-click="closeDialog">{{$l("close")}}</bl-button>
            <bl-button icon="el-icon-check" @blocks-click="saveClick">{{$l("save")}}</bl-button>
        </div>
        <bl-grid ref="AgGrid" grid-style="height:88%;" :grid-options="gridOptions" unique-key="ID" @gridData="gridData">
        </bl-grid>
    </bl-main>
</bl-container>