<bl-container type="dialog">
    <bl-main type="dialog">
        <bl-form :model="ruleForm" :rules="rules" ref="ruleForm">
            <bl-row>
                <bl-col>
                    <bl-form-item label="编码" prop="Code">
                        <bl-input v-model="ruleForm.Code"></bl-input>
                    </bl-form-item>
                </bl-col>
                <bl-col>
                    <bl-form-item label="名称" prop="Name">
                        <bl-input v-model="ruleForm.Name"></bl-input>
                    </bl-form-item>
                </bl-col>
                <bl-col>
                    <bl-form-item label="是否为变量" prop="IsVariable">
                        <bl-select v-model="ruleForm.IsVariable" clearable :optionsData="selectData"></bl-select>
                    </bl-form-item>
                </bl-col>
            </bl-row>
        </bl-form>
    </bl-main>
    <bl-footer type="dialog">
        <bl-button @blocks-click="closeDialog">{{$l("close")}}</bl-button>
        <bl-button @blocks-click="submitForm" type="primary" loading>{{$l("save")}}</bl-button>
    </bl-footer>
</bl-container>